<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Scrummage Tasks">
        <link rel="icon" href="{{ url_for('static', filename='icons/main.ico') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/main.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
        <title>Scrummage Tasks</title>
    </head>
    <body onload="pageLoad()">
        {% extends "template.html" %}
        {% block content %}
        {% if edit_task %}
            {% if is_admin %}
                {% if form_step == 0 %}
                {% elif form_step == 1 %}
                <main>
                    <div class="field-container">
                        <div id="outer_form_div">
                            <div class="form_div" style="padding: 0px;">
                                <p class="form_title">Edit Task</p>
                                <div id="form_loader">&nbsp;</div>
                                <noscript>
                                   <p class="message">Please enable JavaScript to render this page. Otherwise it won't load.</p>
                                </noscript>
                                <div class="inner_form_div">  
                                    <form class="form_prv" action="{{url_for('results')}}" method=get autocomplete="off">
                                        <input style="display: inline-block;" class="button_prv" name="return" type="submit" value="< Return to Tasks">
                                    </form>
                                    <form class="form" action="{{ url_for('edit_task', taskid=results[0]) }}" method=post autocomplete="off">
                                        <dl>
                                            <dd class="nopadding">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            </dd>
                                            <dd>
                                                <input onchange="advise(this)" id="textarea" class="field_textarea" list="browsers" name=tasktype onkeypress="return false;" placeholder="* Task Type" value="{{results[2]}}">
                                                <datalist id="browsers">
                                                    {% for plugin in Valid_Plugins %}
                                                    <option value="{{plugin}}"></option>
                                                    {% endfor %}
                                                </datalist>
                                            </dd>
                                            <dd style="display: none;" id="suggestion_dd">
                                                <div id="suggestion_div">
                                                    <p id="suggestion"></p>
                                                    <div id="suggestion_confirm">
                                                        <button class="button-run" type="button" onclick="acceptsuggestion()">Accept</button>
                                                        <button class="button-red" type="button" onclick="declinesuggestion()">Decline</button>
                                                    </div>
                                                </div>
                                            </dd>
                                            <dd>
                                                <textarea id="queryfield" name="query" rows="2" cols="30" placeholder="* Query, you can use commas (,) to enter multiple queries.">{{results[1]}}</textarea>
                                            </dd>
                                            <dd>
                                                <input class="field_textarea" type="text" name=frequency placeholder="Frequency" value="{{results[4]}}">
                                            </dd>
                                            <dd>
                                                <input class="field_textarea" type="text" name="description" placeholder="Description" value="{{results[3]}}">
                                            </dd>
                                            {% if Without_Limit %}
                                            <dd id="limitdd" style="display: none;">
                                                <input id="limitfield" style="display: none;" class="field_textarea" id="limitfield" type="number" name=limit placeholder="Limit" value="{{results[5]}}">
                                            </dd>
                                            {% else %}
                                            <dd id="limitdd">
                                                <input id="limitfield" class="field_textarea" id="limitfield" type="number" name=limit placeholder="Limit" value="{{results[5]}}">
                                            </dd>
                                            {% endif %}
                                            </dd>
                                            <dd id="fin_input">
                                                <input style="display: inline-block;" id="submitbutton" class="button_next" name="next" onclick="ShowLoader()" type="submit" value="Update Task">
                                            </dd>
                                        </dl>
                                    </form>
                                    <script type="text/javascript">
                                        function ShowLoader() {
                                           document.getElementById("form_loader").style.display = "block";
                                           setTimeout(HideLoader, 3000);
                                        }
                                        function HideLoader() {
                                           document.getElementById("form_loader").style.display = "none";
                                        }
                                    </script>
                                </div>
                                {% if error %}
                                    <p class="message_form"><strong>Error:</strong> {{ error }}</p>
                                {% elif message %}
                                    <p class="message_form"><strong>Message:</strong> {{ message }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </main>
                <script type="text/javascript">
                    var Plugins_without_Limit = {{Plugins_without_Limit | safe}};
                    var request = new XMLHttpRequest();
                    request.open("GET", "{{ url_for('static', filename='protected/json/plugin_definitions.json') }}", false);
                    request.send(null)
                    var Valid_Plugins_Full = JSON.parse(request.responseText);

                    function advise(element) {
                        document.getElementById("queryfield").readOnly = false;
                        if (Plugins_without_Limit.includes(element.value) == false) {
                            document.getElementById("limitfield").style.display = null;
                            document.getElementById("limitdd").style.display = null;
                        } else {
                            document.getElementById("limitfield").style.display = "none";
                            document.getElementById("limitdd").style.display = "none";
                        }
                        var orgPresets = Valid_Plugins_Full[element.value]["Organisation_Presets"];
                        if (orgPresets) {
                            var accurate = false;
                            if (orgPresets == "name") {
                                if ("{{suggestion[0]}}" != "") {
                                    document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for your organisation's name: {{suggestion[0]}}?";
                                    accurate = true;
                                }
                            } else if (orgPresets == "website") {
                                if ("{{suggestion[1]}}" != "") {
                                    document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for your organisation's website: {{suggestion[1]}}?";
                                    accurate = true;
                                }
                            } else if (orgPresets == "domain") {
                                if ("{{suggestion[2]}}" != "") {
                                    document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for your organisation's domain: {{suggestion[2]}}?";
                                    accurate = true;
                                }
                            } else if (orgPresets.includes("identity")) {
                                document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for all identities in the identity database?";
                                accurate = true;
                            }
                            if (accurate == true) {
                                document.getElementById("suggestion_dd").style.display = null;
                            }
                        } else {
                            document.getElementById("suggestion_dd").style.display = "none";
                        }
                    }

                    function acceptsuggestion() {
                        var currenttask = document.getElementById("textarea").value;
                        var orgPresets = Valid_Plugins_Full[currenttask]["Organisation_Presets"];
                        if (orgPresets) {
                            if (orgPresets == "name") {
                                document.getElementById("queryfield").value = "{{suggestion[0]}}";
                                document.getElementById("suggestion_dd").style.display = "none";
                            } else if (orgPresets == "website") {
                                document.getElementById("queryfield").value = "{{suggestion[1]}}";
                                document.getElementById("suggestion_dd").style.display = "none";
                            } else if (orgPresets == "domain") {
                                document.getElementById("queryfield").value = "{{suggestion[2]}}";
                                var SubDomains = JSON.parse("{{suggestion[3] | safe}}".replace(/'/g, '"'));
                                if (document.getElementById("suggestion").innerHTML == "Suggestion: Would you also like to include the provided subdomains for your organisation?" && SubDomains.length > 0) {
                                    document.getElementById("queryfield").value = "{{suggestion[2]}}, " + SubDomains.join(", ");
                                    document.getElementById("suggestion_dd").style.display = "none";
                                } else if (document.getElementById("suggestion").innerHTML == "Suggestion: Would you also like to include the provided subdomains for your organisation?" && SubDomains.length == 0) {
                                    document.getElementById("suggestion_dd").style.display = "none";
                                } else {
                                    document.getElementById("suggestion").innerHTML = "Suggestion: Would you also like to include the provided subdomains for your organisation?";
                                }
                            } else if (orgPresets.includes("identity")) {
                                document.getElementById("queryfield").value = "[IDENTITIES_DATABASE]";
                                document.getElementById("queryfield").readOnly = true;
                                document.getElementById("suggestion_dd").style.display = "none";
                            }
                        }
                    }

                    function declinesuggestion() {
                        document.getElementById("suggestion_dd").style.display = "none";
                    }
                </script>
                {% else %}
                <main>
                    <div class="unpredicted_page">
                        <td style="padding-bottom: 5px;"><svg class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36" /></svg></td>
                    </div>
                    <p id="logintitle">404 Page Not Found.</p>
                    <p class="error">The page you were looking for does not exist.</p>
                </main>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if not edit_task and not new_task and form_step == 0 %}
        <main>
            <div id="loader">&nbsp;</div>
            <noscript>
                <p class="message">Please enable JavaScript to render this page. Otherwise it won't load.</p>
            </noscript>
            <div id="loader_logo_outer"><div id="login_logo"><div id="loader_circular_logo"></div></div></div>
            <p id="loader-message" class="loaderabout">Loading Scrummage Tasks...</p>
            {% if is_admin %}
            {% if api_check == "Failed" %}
            <div style="display: none;" id="api_window"><div id="loader_timeout" style="display: block;">&nbsp;</div><div id="api_outer_div"><div id="close_x_div"><a id="close_x" onclick="closeWindow()">×</a></div><div id="inner_api_window"><div><svg class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36" /></svg></div><p class="api_message">Task Configuration Check Failed.</p><p class="api_message">Please provide the required configuration(s) for this task before running it.</p></div></div></div>
            {% elif api_check == "Passed" %}
            <div style="display: none;" id="api_window"><div id="loader_timeout_green" style="display: block;">&nbsp;</div><div id="api_outer_div"><div id="close_x_div"><a id="close_x" onclick="closeWindow()">×</a></div><div id="inner_api_window"><div><svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg></div><p class="api_message">Successfully Executed Task.</p></div></div></div>
            {% elif error %}
            <div style="display: none;" id="api_window"><div id="loader_timeout" style="display: block;">&nbsp;</div><div id="api_outer_div"><div id="close_x_div"><a id="close_x" onclick="closeWindow()">×</a></div><div id="inner_api_window"><div><svg class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36" /></svg></div><p class="message"><strong>Error:</strong> {{ error }}</p></div></div></div>
            {% endif %}
            {% if message or error or api_check in ["Passed", "Failed"] %}
            <script type="text/javascript">
                autoClose();

                function autoClose() {
                    setTimeout(closeWindow, 10000);
                }

                function closeWindow() {
                    var close_item = document.getElementById("api_window");
                    close_item.style.display = "none";
                }
            </script>
            {% endif %}
            <div id="outerleftpop" class="left_pop_out_outer" style="display: none;"><div class="left_pop_out_mid"><div id="innerleftpop" class="left_pop_out_inner_lower" style="height: 100%;"><div><p class="left_title_top">Task Management</p><br />
                    <a id="createtask" onclick="sendRequest('Create')" class="left_button">Create New Task</a>
                    <a id="checkoutputs" onclick="sendRequest('checkinput')" class="left_button">Check Inputs</a>
                    <a id="checkoutputs" onclick="sendRequest('checkoutput')" class="left_button">Check Outputs</a>
                    <a id="checkoutputs" onclick="sendRequest('managecache')" class="left_button">Manage Cache</a>
                    <a id="bottom_delete_button" class="left_button-disabled" onclick="return confirm('Are you sure you want to delete the selected task items: ' + getSelectValues() + '?') && sendRequest('Delete');" disabled="true">Delete</a>
                    <a id="bottom_duplicate_button" class="left_button-disabled" onclick="return confirm('Are you sure you want to duplicate the selected task items: ' + getSelectValues() + '?') && sendRequest('Duplicate');" disabled="true">Duplicate</a>
                </div>
            </div></div></div>
            <div style="display: none;" style="margin:0;" id="fc" class="field-container-settings">
            {% else %}
            <div style="display: none;" style="margin:0;" id="fc" class="field-container">
            {% endif %}
                <table id="paginate" style="width: 100%;">
                    <thead>
                        <tr>
                            <th id="table_id">ID</th>
                            {% if is_admin %}
                            <th id="checkboxtd"><input type="checkbox" onclick="checkAll(this)" id="mainselect" name="taskchkbox"></th>
                            {% endif %}
                            <th id="queryplugintasktab" style="min-width: 150px; width: 150px;">Query</th>
                            <th id="queryplugintasktab" style="min-width: 150px; width: 150px;">Plugin</th>
                            <th id="desfreqlimtasktab" style="min-width: 105px; width: 105px;">Description</th>
                            <th id="desfreqlimtasktab" style="min-width: 100px; width: 100px;">Frequency</th>
                            <th id="desfreqlimtasktab" style="min-width: 60px; width: 60px;">Limit</th>
                            {% if is_admin %}
                            <th id="functiontaskth">Functions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td class="nonscreenshottab">{{result[0]}}</td>
                            {% if is_admin %}
                            <td id="checkboxtd"><input type="checkbox" onclick="terms_changed(this)" id="select" name="taskchkbox" value="{{result[0]}}"></td>
                            {% endif %}
                            <td id="queryplugintasktab" class="nonscreenshottab" style="max-width: 150px; word-wrap: break-word">{{result[1]}}</td>
                            <td id="queryplugintasktab" class="nonscreenshottab">{{result[2]}}</td>
                            <td id="desfreqlimtasktab" class="nonscreenshottab" style="max-width: 200px;">{{result[3]}}</td>
                            <td id="desfreqlimtasktab" class="nonscreenshottab">{{result[4]}}</td>
                            <td id="desfreqlimtasktab" class="nonscreenshottab">{{result[5]}}</td>
                            {% if is_admin %}
                                <td class="buttons_in_tasks_table" id="tsk_in_tbl_btns">
                                    <div>
                                        {% if result[6] == "Running" %}
                                        <button class="button-running">
                                            &nbsp;<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;
                                        </button>
                                        {% else %}
                                        <form class="task_buttons" action="{{ url_for('run_task', taskid=result[0]) }}" method=post autocomplete="off">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input class="button-run" type="submit" value="Run">
                                        </form>
                                        {% endif %}
                                        <form class="task_buttons" action="{{ url_for('edit_task', taskid=result[0]) }}" method=post autocomplete="off">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input class="button" type="submit" value="Edit">
                                        </form>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if is_admin %}
                <script type="text/javascript">
                    var height = 0.7 * screen.height;
                    height = height.toString() + "px";
                    $(document).ready(function(){
                      $('#paginate').DataTable({
                        "scrollY": height,
                        "scrollCollapse": true,
                        "paging": true,
                        "pageLength": 25,
                        "autoWidth": true,
                        columns: [
                          null,
                          { orderable: false },
                          null,
                          null,
                          null,
                          null,
                          null,
                          { orderable: false }
                        ]
                      });
                      $('.dataTables_length').addClass('bs-select');
                    });
                </script>
                {% else %}
                <script type="text/javascript">
                    var height = 0.7 * screen.height;
                    height = height.toString() + "px";
                    $(document).ready(function () {
                      $('#paginate').DataTable({
                        "scrollY": height,
                        "scrollCollapse": true,
                        "paging": "simple_numbers",
                        "pageLength": 25,
                        "autoWidth": true,
                      });
                      $('.dataTables_length').addClass('bs-select');
                    });
                </script>
                {% endif %}
                <div id="filter_box">
                    {% if Task_Filter_Values %}
                    <button type="button" id="applied_filter">x Filter Applied</button>
                    {% endif %}
                    <button type="button" id="collapsible_filter_button" class="collapsible_filter">+ Expand Filter Options</button>
                    <div class="collapsible_filter_content">
                        <form id="collapsible_filter_form" action="{{ url_for ('tasks_filtered') }}" method="get" autocomplete="off">
                            <dl>
                                {% for Item in Task_Filter_Iterator %}
                                {% if Item == 0 %}
                                <dd id="first_dd">
                                {% else %}
                                <dd>
                                {% endif %}
                                    {% if Task_Filter_Values %}
                                    <input id="field_textarea" class="field_textarea_short" name="{{Task_Filters[Item]}}" placeholder="{{Task_Filters[Item]}}" value="{{Task_Filter_Values[Item]}}">
                                    {% else %}
                                    <input id="field_textarea" class="field_textarea_short" name="{{Task_Filters[Item]}}" placeholder="{{Task_Filters[Item]}}">
                                    {% endif %}
                                </dd>
                                {% endfor %}
                                <dd id="fin_input">
                                    <input class="button-run" name="setfilter" type="submit" value="Set Filter">
                                </dd>
                            </dl>
                        </form>
                    </div>
                    <script type="text/javascript">
                        var coll = document.getElementsByClassName("collapsible_filter");
                        var clear = document.getElementById("applied_filter");
                        var i;

                        for (i = 0; i < coll.length; i++) {
                            coll[i].addEventListener("click", function() {
                                var content = this.nextElementSibling;
                                if (content.style.display === "block") {
                                    content.style.display = "none";
                                    document.querySelector('#collapsible_filter_button').innerText = "+ Expand Filter Options";
                                } else {
                                    content.style.display = "block";
                                    document.querySelector('#collapsible_filter_button').innerText = "× Collapse Filter Options";
                                }
                            });
                        }

                        clear.addEventListener("click", function() {
                            window.location.assign("{{ url_for('tasks') }}");
                        });
                    </script>
                </div>
            </div>
            {% if is_admin %}
            <script type="text/javascript">
                function pageLoad() {
                    setTimeout(showPage, 1000);
                }

                function showPage() {
                    document.getElementById("loader").style.display = "none";
                    document.getElementById("loader-message").style.display = "none";
                    document.getElementById("loader_logo_outer").style.display = "none";
                    document.getElementById("paginate").style.display = null;
                    document.getElementById("outerleftpop").style.display = null;
                    document.getElementById("fc").style.display = null;
                    {% if api_check in ["Passed", "Failed"] or error %}
                    document.getElementById("api_window").style.display = null;
                    {% endif %}
                    document.getElementsByTagName("INPUT")[0].placeholder='Quick Search';
                    document.getElementsByTagName("INPUT")[0].className='js_search';
                    var table = $('#paginate').DataTable();
                    table.columns.adjust().draw();
                }

                function getSelectValues() {
                    var checkedArray = []
                    document.querySelectorAll('#select:checked').forEach(e => {
                        checkedArray.push(e.value);
                    });
                    checkedArrayStr = checkedArray.toString();
                    return checkedArrayStr
                }

                function terms_changed(termsCheckBox){
                    var buttons = [["bottom_delete_button", "Delete"], ["bottom_duplicate_button", "Duplicate"]]
                    if (termsCheckBox.checked) {
                        buttons.forEach(button => {
                            document.getElementById(button[0]).className = "left_button";
                            document.getElementById(button[0]).disabled = false;
                        });
                        document.getElementById("mainselect").checked = true;
                    } else {
                        if($('#select:checked').length === 0) {
                            buttons.forEach(button => {
                                document.getElementById(button[0]).disabled = true;
                                document.getElementById(button[0]).className = "left_button-disabled";
                            });
                            document.getElementById("mainselect").checked = false;
                        }
                    }
                }

                function sendRequest() {
                    var xhr = new XMLHttpRequest();
                    var selectedValArray = getSelectValues()
                    var use_xhr = true;

                    if (arguments[0] === 'Delete') {
                        var uri = "{{ url_for('tasks') }}" + "/delete/" + selectedValArray
                    } else if (arguments[0] === 'Duplicate') {
                        var uri = "{{ url_for('tasks') }}" + "/duplicate/" + selectedValArray
                    } else if (arguments[0] === "Create") {
                        var uri = "{{ url_for('new_task') }}";
                        window.location.assign(uri);
                        use_xhr = false;
                    } else if (arguments[0] === "checkoutput") {
                        var uri = "{{ url_for('check_output') }}";
                        window.location.assign(uri);
                        use_xhr = false;
                    } else if (arguments[0] === "checkinput") {
                        var uri = "{{ url_for('check_input') }}";
                        window.location.assign(uri);
                        use_xhr = false;
                    } else if (arguments[0] === "managecache") {
                        var uri = "{{ url_for('clear_cache_main') }}";
                        window.location.assign(uri);
                        use_xhr = false;
                    }
                    if (use_xhr === true) {
                        var csrf_token = "{{ csrf_token() }}";
                        xhr.open("POST", uri, true);
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        xhr.send();
                        xhr.onreadystatechange = function(e) {
                            if (xhr.readyState === 4) {
                                location.reload();
                            }
                        }
                    }
                }

                function checkAny(type) {
                    var checkboxes = document.getElementsByTagName('input');
                    if (type == "Checked") {
                        var ischecked = false;
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].type == 'checkbox') {
                                if (checkboxes[i].checked == true) {
                                    ischecked = true;
                                }
                            }
                        }
                        return ischecked;
                    } else if (type == "Unchecked") {
                        var unchecked = false;
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].type == 'checkbox') {
                                if (checkboxes[i].checked == false) {
                                    unchecked = true;
                                }
                            }
                        }
                        return unchecked;
                    }
                }

                function checkAll(ele) {
                    var checkboxes = document.getElementsByTagName('input');
                    if (ele.checked == true) {
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].type == 'checkbox' && checkboxes[i].id != "mainselect") {
                                checkboxes[i].checked = true;
                                terms_changed(checkboxes[i]);
                            }
                        }
                    } else {
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].type == 'checkbox' && checkboxes[i].id != "mainselect") {
                                checkboxes[i].checked = false;
                                terms_changed(checkboxes[i]);
                            }
                        }
                    }
                }
            </script>
            {% else %}
            <script type="text/javascript">
                function pageLoad() {
                    setTimeout(showPage, 1000);
                }

                function showPage() {
                    document.getElementById("loader").style.display = "none";
                    document.getElementById("loader-message").style.display = "none";
                    document.getElementById("loader_logo_outer").style.display = "none";
                    document.getElementById("paginate").style.display = null;
                    document.getElementById("fc").style.display = null;
                    var table = $('#paginate').DataTable();
                    table.columns.adjust().draw();
                    document.getElementsByTagName("INPUT")[0].placeholder='Quick Search';
                    document.getElementsByTagName("INPUT")[0].className='js_search';
                }
            </script>
            {% endif %}
        </main>
        {% endif %}
        {% if new_task %}
        <main>
            {% if is_admin %}
                <div class="field-container">
                {% if form_step == 0 %}
                {% elif form_step == 1 %}
                <div id="outer_form_div">
                    <div class="form_div" style="padding: 0px;">
                        <p class="form_title">Create Task</p>
                        <div id="form_loader">&nbsp;</div>
                        <noscript>
                           <p class="message">Please enable JavaScript to render this page. Otherwise it won't load.</p>
                        </noscript>
                        <div class="inner_form_div">
                            <form class="form_prv" action="{{url_for('tasks')}}" method="get" autocomplete="off">
                                <input style="display: inline-block;" class="button_prv" name="return" type="submit" value="< Return to Tasks">
                            </form>
                            <form class="form" action="{{ url_for('new_task') }}" method="post" autocomplete="off">
                                <dl>
                                    <dd class="nopadding">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    </dd>
                                    <dd>
                                        {% if task_type_field %}
                                        <input onchange="advise(this)" class="field_textarea" id="textarea" list="browsers" name="tasktype" onkeypress="return false;" placeholder="* Task Type" value="{{task_type_field}}">
                                        {% else %}
                                        <input onchange="advise(this)" class="field_textarea" id="textarea" list="browsers" name="tasktype" onkeypress="return false;" placeholder="* Task Type">
                                        {% endif %}
                                        <datalist id="browsers">
                                            {% for plugin in Valid_Plugins%}
                                            <option value="{{plugin}}"></option>
                                            {% endfor %}
                                        </datalist>
                                    </dd>
                                    <dd style="display: none;" id="suggestion_dd">
                                        <div id="suggestion_div">
                                            <p id="suggestion"></p>
                                            <div id="suggestion_confirm">
                                                <button class="button-run" type="button" onclick="acceptsuggestion()">Accept</button>
                                                <button class="button-red" type="button" onclick="declinesuggestion()">Decline</button>
                                            </div>
                                        </div>
                                    </dd>
                                    <dd>
                                        <textarea id="queryfield" name="query" rows="2" cols="30" placeholder="* Query, you can use commas (,) to enter multiple queries."></textarea>
                                    </dd>
                                    <dd>
                                        {% if frequency_field %}
                                        <input class="field_textarea" type="text" name="frequency" placeholder="Frequency" value="{{frequency_field}}">
                                        {% else %}
                                        <input class="field_textarea" type="text" name="frequency" placeholder="Frequency">
                                        {% endif %}
                                    </dd>
                                    <dd>
                                        {% if description_field %}
                                        <input class="field_textarea" type="text" name="description" placeholder="Description" value="{{description_field}}">
                                        {% else %}
                                        <input class="field_textarea" type="text" name="description" placeholder="Description">
                                        {% endif %}
                                    </dd>
                                    {% if Without_Limit %}
                                    <dd id="limitdd" style="display: none;">
                                        <input id="limitfield" style="display: none;" class="field_textarea" id="limitfield" type="number" name="limit" placeholder="Limit">
                                    </dd>
                                    {% else %}
                                    <dd id="limitdd">
                                        <input id="limitfield" class="field_textarea" id="limitfield" type="number" name="limit" placeholder="Limit">
                                    </dd>
                                    <dd id="fin_input">
                                        <input id="submitbutton" style="display: inline-block;" class="button_next" name="next" onclick="ShowLoader()" type="submit" value="Create Task">
                                    </dd>
                                    {% endif %}
                                </dl>
                            </form>
                            <script type="text/javascript">
                                function ShowLoader() {
                                   document.getElementById("form_loader").style.display = "block";
                                   setTimeout(HideLoader, 3000);
                                }
                                function HideLoader() {
                                   document.getElementById("form_loader").style.display = "none";
                                }
                            </script>
                        </div>
                        {% if error %}
                            <p class="message_form"><strong>Error:</strong> {{ error }}</p>
                        {% elif message %}
                            <p class="message_form"><strong>Message:</strong> {{ message }}</p>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                    <p id="logintitle">404 Page Not Found.</p>
                    <p class="error">The page you were looking for does not exist.</p>
                {% endif %}
            </div>
            <script type="text/javascript">
                var Plugins_without_Limit = {{Plugins_without_Limit | safe}};
                var request = new XMLHttpRequest();
                request.open("GET", "{{ url_for('static', filename='protected/json/plugin_definitions.json') }}", false);
                request.send(null)
                var Valid_Plugins_Full = JSON.parse(request.responseText);

                function advise(element) {
                    document.getElementById("queryfield").readOnly = false;
                    if (Plugins_without_Limit.includes(element.value) == false) {
                        document.getElementById("limitfield").style.display = null;
                        document.getElementById("limitdd").style.display = null;
                    } else {
                        document.getElementById("limitfield").style.display = "none";
                        document.getElementById("limitdd").style.display = "none";
                    }
                    var orgPresets = Valid_Plugins_Full[element.value]["Organisation_Presets"];
                    if (orgPresets) {
                        var accurate = false;
                        if (orgPresets == "name") {
                            if ("{{suggestion[0]}}" != "") {
                                document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for your organisation's name: {{suggestion[0]}}?";
                                accurate = true;
                            }
                        } else if (orgPresets == "website") {
                            if ("{{suggestion[1]}}" != "") {
                                document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for your organisation's website: {{suggestion[1]}}?";
                                accurate = true;
                            }
                        } else if (orgPresets == "domain") {
                            if ("{{suggestion[2]}}" != "") {
                                document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for your organisation's domain: {{suggestion[2]}}?";
                                accurate = true;
                            }
                        } else if (orgPresets.includes("identity")) {
                            document.getElementById("suggestion").innerHTML = "Suggestion: Would you like to search for all identities in the identity database?";
                            accurate = true;
                        }
                        if (accurate == true) {
                            document.getElementById("suggestion_dd").style.display = null;
                        }
                    } else {
                        document.getElementById("suggestion_dd").style.display = "none";
                    }
                }

                function acceptsuggestion() {
                    var currenttask = document.getElementById("textarea").value;
                    var orgPresets = Valid_Plugins_Full[currenttask]["Organisation_Presets"];
                    if (orgPresets) {
                        if (orgPresets == "name") {
                            document.getElementById("queryfield").value = "{{suggestion[0]}}";
                            document.getElementById("suggestion_dd").style.display = "none";
                        } else if (orgPresets == "website") {
                            document.getElementById("queryfield").value = "{{suggestion[1]}}";
                            document.getElementById("suggestion_dd").style.display = "none";
                        } else if (orgPresets == "domain") {
                            document.getElementById("queryfield").value = "{{suggestion[2]}}";
                            var SubDomains = JSON.parse("{{suggestion[3] | safe}}".replace(/'/g, '"'));
                            if (document.getElementById("suggestion").innerHTML == "Suggestion: Would you also like to include the provided subdomains for your organisation?" && SubDomains.length > 0) {
                                document.getElementById("queryfield").value = "{{suggestion[2]}}, " + SubDomains.join(", ");
                                document.getElementById("suggestion_dd").style.display = "none";
                            } else if (document.getElementById("suggestion").innerHTML == "Suggestion: Would you also like to include the provided subdomains for your organisation?" && SubDomains.length == 0) {
                                document.getElementById("suggestion_dd").style.display = "none";
                            } else {
                                document.getElementById("suggestion").innerHTML = "Suggestion: Would you also like to include the provided subdomains for your organisation?";
                            }
                        } else if (orgPresets.includes("identity")) {
                            document.getElementById("queryfield").value = "[IDENTITIES_DATABASE]";
                            document.getElementById("queryfield").readOnly = true;
                            document.getElementById("suggestion_dd").style.display = "none";
                        }
                    }
                }

                function declinesuggestion() {
                    document.getElementById("suggestion_dd").style.display = "none";
                }
            </script>
            {% endif %}
        </main>
        {% endif %}
        {% endblock %}
    </body>
</html>